# Fingerprint Permissions

on boot
    chmod 0666 /dev/xiaomi-fp
    chown system system /dev/xiaomi-fp
    chmod 0666 /dev/input/event5

on post-fs-data
    mkdir /data/vendor/fpc 0770 system system
    mkdir /data/vendor/fpdump 0770 system system
    mkdir /data/vendor/goodix 0770 system system
    mkdir /data/vendor/fingerprint 0770 system system
    mkdir /mnt/vendor/persist/goodix 0770 system system
    mkdir /mnt/vendor/persist/fpc 0770 system system
